.env
.env.*
!.env.example
/vendor
/node_modules
/storage/*.key
*.pem
*.p12
*.pfx
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/public/*
/storage/digital_products/*
/storage/installed
/public/storage
/public/hot
/public/uploads/*
/database/*.sql
*.sql
*.sqlite
*.sqlite3
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
.DS_Store
Thumbs.db
desktop.ini
Homestead.json
Homestead.yaml
Vagrantfile
